# Eclipse Core settings
.settings/
.project
.classpath

# Build output directories
bin/
target/

# Maven specific
pom.xml
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
# Ignore Spring Boot application config
application.properties
application.yml

# Gradle specific
.gradle/
build/